# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# backups
/backups

# IDE
.vscode/
.idea/

# vercel
.vercel

# Ensure important files like index.js are not ignored
!src/pages/index.js
!src/app/page.tsx

# Ensure .next and its contents are ignored
.next/

# Ensure node_modules and its contents are ignored
node_modules/

# Specific large files
next-swc.win32-x64-msvc.node
